{{ $extensions := list
    "ms-python.python"
    "ms-toolsai.jupyter"
    "ms-toolsai.jupyter-keymap"
    "ms-toolsai.jupyter-renderers"
    "rust-lang.rust-analyzer"
    "ryanolsonx.zenburn"
    "vscodevim.vim" -}}

#!/bin/bash

set -euxo pipefail

{{ range $extensions -}}
codium --install-extension {{ . }}
{{ end -}}
